/*  your css code here. If applicable */
.box{
	background-color:lightblue;
	width:200px;
	height:200px;
	border:1px solid black;
	color:purple;
	display:flex;
	justify-content:center;
	align-items:center;
}