/*  your css code here. If applicable */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


.box{
	background-color:lightblue;
	width:200px;
	height:200px;
	border:2px solid black;
	color:purple;
	display:flex;
	justify-content:center;
	align-items:center;
}